# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
*.log
*.sqlite3

# Virtual environment
venv/
env/

# Django specific
*.db
*.pot
*.pyc
db.sqlite3
media/
staticfiles/

# IDEs
.vscode/
.idea/

# OS
.DS_Store

# Migrations
*/migrations/__pycache__/
*/migrations/*.pyc
*/migrations/*.py

# Env
.env
